*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.contenedor-nav{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: var(--white);
position: fixed;
width: 100%;
height: auto;
padding-top: 0;
box-shadow: 0px 0px 10px 1px var(--gris-oscuro);
}
.contenedor-nav h1{
    top: 0;
    font-size: x-large;
}

.navegacion{
background-color: var(--gris-oscuro);
padding: 1rem 0;
width: 100%;
top: 0;
    
}

.navegacion a{
    position: relative;
    color: var(--blanco);
    text-decoration: none;
    margin: 0 3rem;
}

.contenedor-perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 6rem;
    background-color: var(--blanco2);
    overflow: hidden;
   
}
.contenedor-perfil h1{
    text-align: center;
    margin-bottom: 1rem;
}
.contenedor-perfil p{
text-align: justify;
margin-bottom: 1rem;
}
.contenedor-perfil h1,p{
    margin-right: 2rem;
}

.Perfil-profesional{
    flex: 1;
}
.contenedor-img-perfil{
width: 600px;
height: 600px;
overflow: hidden;
flex: 1;
background-color: var(--blanco2);
display: flex;
justify-content: center;
align-items: center;
}

.contenedor-img-perfil img{
width: 100%;
height: auto;     
}
.conocimientos{
    margin: 2rem 6rem;
    overflow: hidden;
    background-color: var(--blanco2);
}
.conocimientos h1{
    color: var(--negro2);
    text-align: center;
}

.kils{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descripcion-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    flex: 2;
    background-color: var(--blanco2);
    padding: 1rem;
    margin-right: 2rem;
}
.imagen-container {
    flex: 1;
    max-width: 50%; /* Controla el ancho máximo de la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco2);
    border: 2px solid rgba(0, 0, 0, 0.2);;
    border-radius: 10px;
    margin-top: 1rem;
    transition: border-radius 0.3s ease-out; /* Transición para el radio de la esquina */
  }

  .imagen-container:hover{
    border-radius: 0;
    
  }
  
  .kils-img {
    max-width: 50%; /* Añade esta línea para que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    padding: 1rem 0;
    transition: transform 0.3s ease-out;
  }
  .kils-img:hover{
    transform: scale(1.1);
  }
  .kils-h2{
    margin-bottom: 1rem;
  }
  .experiencias{
    margin: 2rem 6rem;
    overflow: hidden;
    background-color: var(--blanco2);
}
.experiencias h1{
    color: var(--negro2);
    text-align: center;
}
.experiencia{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descripcion-exp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    flex: 2;
    background-color: var(--blanco2);
    padding: 1rem;
    margin-right: 2rem;
    
}
.exp-h2, .exp-h4{
    margin-bottom: 1rem;
}
.exp-h4 {
    align-self: flex-start; /* Alinear a la izquierda (fuera del flujo de flex) */
    margin: 0; /* Eliminar el margen predeterminado */
    margin-bottom: 1rem;
}
hr{
    height: 0.1rem;
    max-width: 100%;
    border: 0;
    background: linear-gradient(to right, rgba(0,0,0,0), var(--negro2),rgba(0,0,0,0) );
}